<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>InputPanel</title>
<link rel="STYLESHEET" href="todo.css"
      type="text/css">
</head>
<body>
<h1>入力画面</h1>
<form action="ListForm" method="post">
<div class="item">
<p>商品ID：<br>
<h1 th:text="${itemid}"></h1>
</div>

<div class="item">
<p>価格：<br>
<h1 th:text="${price}"></h1>
</div>

<div class="item">
<p>商品名：<br>
<h1 th:text="${name}"></h1>
</div>

<div class="item">
<label for="rendou">個数：</label><input type="number" name="num" size="5" value=1>
</div>

<br>
<div class="item">
<button type="submit" name="name" value="value">カートに入れる</button>
</div>
</form>
</body>
</html>